html, body {
  margin: 0;
  padding: 0;
  height:100vh;
  width: 100%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #000;
  text-shadow: 1px 1px 20px #000000

}

.content{
  height: 100vh;
  width: 100%;
  background: url('images/1.jpg') no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: top;
  justify-content: center;

  transition: 5s;
  animation-name: animate;
  animation-direction: alternate-reverse;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes animate {
  0% { background-image: url("images/2.jpg"); }
  33% { background-image: url("images/3.jpg"); }
  66% { background-image: url("images/4.jpg"); }
  100% { background-image: url("images/5.jpg"); }
  }


.intro{
  max-width: 50%;
  margin-top: 20%;
  color: #fff;
  text-align: center;
  font-size: 2em;
}

button{
  padding:15px;
  border-radius: 5px;
  border:none;
}

.menu{
  text-align: center;
  position: fixed;
  width: 100%;
  margin-top:0%;
  padding: 20px;
  border-top: 10px solid #000;

}

.menu li{
  list-style: none;
  display: inline-block;
  margin: 0 30px 0 30px;
  color: #fff;
}

button:hover{
  background-color: #000;
  color: #fff;
  transition: background-color 0.3s;
}